* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4 {
  text-align: center;
}

#welcome-title{
  margin:2em 0.5em;
}

#title{
  font-size: 1.375rem;
  position:absolute;
  top:0;
  margin: 0.5em 0.75em;
  left: 0;
}

#username-display{
  font-weight: 600;
  text-transform: capitalize;
}

#login-container{
  position:absolute;
  display:flex;
  gap:1em;
  right:10px;
  top: 10px; 
}

#images{
  margin-top: 4em;
  display:flex;
  flex-direction: column;
  gap:2em;
  justify-content: center;
  align-items: center;
}
#images div{
  display:flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  height:auto;
  margin: 0 1em;
}

#images img{
  object-fit: contain;
  width: 100%;
  height:auto;
}
#images h4{
  font-weight: 600;
  height: 80px;
}

#main-btn-container{
  text-align: center;
  margin: 3em 0;
}

#loading{
  margin-top:3em;
  text-align: center;
}

header {
  position:relative;
  background-color: #67b7d6;
  margin: auto 0;
  padding: 3.5em 0 1em 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 2em;
  display:flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid #b9b9b9 1px;
}

header h3{
  margin-bottom: 0.5em;
}






.date-btn {
  padding: 0 0.5em;
  border: solid black 2px;
  background-color:#94c4d3;
  border-radius: 25px;
  font-size: 1.5rem;
  display:flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  position:relative;
}

.date-btn p{
  margin: 0;
}





#update-btn{
  position:absolute;
border: solid black 1px;
background-color:#94c4d3;
  right: 10px;
  top: 10px;
}

#time{
  border-style: none;
  border: solid black 1px;
}

.user-btn{
  padding: 0 0.5em;
  margin: 0.25em;
  font-size: 1.25rem;
}

#content-wrap{
  margin: 0 1.5em 4em 1.5em;
}

form {
  position: relative;
  max-width: 400px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-family: inherit;
  resize: none;
}
form button {
  
  position: absolute;
  right: 18px;
  bottom: -34px;
  background: #67b7d6;
  border: none;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
  font-size: 1.125rem;
}
form select {
  text-align: left;
}

.date-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
  max-width: 400px;
}

#date {
  font-weight: 600;
  margin: 0 1em;
  width: 150px;
}

.ToD-title {
  margin: 1em 0;
}

.today-title {
  font-size: 1.5rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c5dbda;
  border: solid black 1px;
  cursor: default;
}

.box p{
  font-size: 1rem;
}

.food-type-container {
  margin: 1em 0;
  display: grid;
  grid: 75px 75px 75px / auto auto auto auto;
  grid-gap: 0.25em;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.food-type-text {
  margin-top: 1em;
  font-size: 0.75rem;
  text-align: left;
}

.food-icon {
  font-size: 1.5rem;
}

.hidden {
  display: none;
}

.selected {
  background-color: #7ecbe2;
}

.entry-container {
  margin: 1em auto;
  border: solid black 1px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background-color: #b3deeb;
  max-width: 400px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.entry-text {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.entry-text:first-child {
  border-right: solid black 1px;
}

.delete-btn {
  position: absolute;
  right: -18px;
  background: #bcd6dd;
  border: none;
  border-radius: 50%;
  border-style: none;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}


@media (min-width: 1000px) {
  
  .date-btn p{
    top: 0;
    position:absolute;
  }
  #login-container{
    position:absolute;
    display:flex;
    gap:1em;
    right:10px;
    top: 10px; 
  }
  
  #images{
    margin-top: 6em;
    display:flex;
    flex-direction: row;
    gap:4em;
    justify-content: center;
  }
  #images div{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
    height:auto;
    margin: 0 1em;
  }
  
  #images img{
    object-fit: contain;
    width: 100%;
    height:auto;
  }
  #images h4{
    margin: 1em 0;
    font-weight: 600;
    max-width: 75%;
    height: 100px;
  }
  
  #main-btn-container{
    text-align: center;
    margin-top: 3em;
  }
  
  #loading{
    margin-top:3em;
    text-align: center;
  }

}